* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-image: url("./images/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.app::before {
  content: "";
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}

.logo {
  font-family: "Carattere", cursive;
}

.hero__text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.hero__text > h1 {
  width: 290px;
}

.destinations {
  font-family: "Carattere", cursive;
}

.under {
  border: 1px solid greenyellow;
}

.card {
  height: 220px;
  width: 180px;
}

.card > img {
  width: 100%;
  height: 100%;
}

.hotels {
  font-family: "Carattere", cursive;
}

.card1 {
  height: 150px;
  width: 150px;
}

.card1 > img {
  width: 100%;
  height: 100%;
}
